<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/style.css">
  <title></title>
</head>
<body>
  <div>
    <%- include('partials/navbar') %>
  </div>
  <div class="content__wrapper">
    <div class="content">
      <% if(user) {%>
        <h1> Welcome back <%= user.username %></h1>
        
        <% } %>
      <% if( typeof user == 'object' && user.member){ %>
        <a href="/new" class="nav__link black">Create a messsage</a>
      <% for(let i=0; i < messages.length; i++){%>
        <div class="message__wrapper">
          <div class="message__username"><%= messages[i].createdBy %></div>
          <div class="message"><%= messages[i].message %></div>
          <div class="message__timestamp"> <%= messages[i].date_formatted %></div>
            <% if( typeof user == 'object' && user.admin){ %>
              <form action='/delete/<%= messages[i]._id %>' method="POST">
                <button>Delete</button>
              </form>  
          <% } %>
        </div>
        <% } %>
      <% } %>
      <% if(typeof user == 'object' && !user.member){ %>
        <% for(let i=0; i < messages.length; i++){%>
          <div class="message__wrapper">
            <div class="message"><%= messages[i].message %></div>
          </div>
          <% } %>
        <% } %>
        <% if(typeof user !== 'object'){ %>
          <% for(let i=0; i < messages.length; i++){%>
            <div class="message__wrapper">
              <div class="message"><%= messages[i].message %></div>
            </div>
            <% } %>
          <% } %>
    </div>
  </div>

</body>
</html> 